.channel-container {
  width: 100%;
  font-family: 'roboto', Arial, sans-serif;

}

.channel-banner-container {
  width: 100%;
  min-height: 100px;
  height: calc(40px + 11vw);
  display: flex;
  align-items: center;
  color: #333;
  background: #4d79ff;
}

.channel-banner {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: calc(22px + 3vw);
  width: 100%;
  background: #1a53ff;
  text-shadow: -0.5px 0px 3px #fff;
  text-align: center;
  padding: calc(1.3vw) 0;
}

.channel-header .profile-image {
  border-radius: 50%;
  height: 80px;
  max-width: 80px;
  min-width: 80px;
  overflow: hidden;
  background: white;
  display: flex;
  justify-content: center;
  margin-right: 14px;
}

.channel-header .profile-image img {
  height: 80px;
}

.channel-header {
  display: flex;
  padding: 16px 107px 0 107px;
}

.channel-channel-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.channel-channel-name {
  color: #6e6e6e;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 3px;
}

.channel-subscriber-count {
  color: #6e6e6e;
  font-size: 14px;
}

.channel-subscribe-button-container {
  display: flex;
  align-items: center;
}

.channel-tabs {
  display: flex;
}

.channel-tabs-container {
  display: table;
  margin: 0 auto;
}

.channel-tabs li {
  color: rgb(110,110,110);
  padding: 0 32px;
}

.channel-tabs li.selected {
  color: rgb(17,17,17);
}
.channel-tabs li:hover {
  color: rgb(17,17,17);
}

.channel-tabs li:hover {
  cursor: pointer;
}

.channel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container {
  height: 238px;
  padding: 24px 0;
}

.home-video-container {
  width: 424px;
  margin-right: 24px;
}

.home-container video {
  width: 424px;
  height: 238px;
}

.home-views-post-time {
  font-size: 13px;
  color: rgb(112,112,112);
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 16px;
}

.home-video-description {
  width: 193px;
  overflow: hidden;
  font-size: 14px;
}

.home-video-description .description > div {
  min-height: 16px;
  min-width: 1px;
}

.home-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
}

.home-title:hover {
  cursor: pointer;
}

@media (min-width: 876px) {
  .home-container {
    display: flex;
    width: 856px;
  }
}

@media (max-width: 875px) {
  .home-description-container {
    display: none;
  }
}

@media (min-width: 1090px) {
  .home-video-description {
    width: inherit;
  }
  .home-container {
    width: 1070px;
  }
}
