.comments-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Roboto', Arial, sans-serif;
}

.comment-item {
  display: flex;
}

.comments-buttons {
  display: flex;
  justify-content: flex-end;
}

.comments-container .profile-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: white;
  display: flex;
  justify-content: center;
  margin-right: 14px;
}

.comments-container .profile-image img {
  height: 40px;
}

.comment-form {
  width: 100%;
}

.comment-form-image-and-form {
  display: flex;
}



.comment-form-container {
  margin-top: 24px;
  margin-bottom: 32px;
}

.comments-length {
  margin-bottom: 24px;
}

.comment-line {
  width: 100%;
}

.comment-input {
  border: none;
  resize: none;
  font-size: 14px;
  font-weight: 200;
  height: 18px;
  width: 100%;
}

.comment-input ::-webkit-input-placeholder {
  color: rgb(112,112,112);
}

.comment-input :-moz-placeholder {
  color: rgb(112,112,112);
  opacity:  1;
}

.comment-input ::-moz-placeholder {
  color: rgb(112,112,112);
  opacity:  1;
}

.comment-input :-ms-input-placeholder {
  color: rgb(112,112,112);
}

.comment-input ::-ms-input-placeholder {
  color: rgb(112,112,112);
}

.comment-input ::placeholder {
  color: rgb(112,112,112);
}


.comment-underline, .comment-underline-edit {
  position:absolute;
  left: 50%;
  height: 2px;
  width: 0;
  opacity: 0;
  background: black;
  -webkit-transition: width 0.25s, left 0.25s;
  -moz-transition: width 0.25s, left 0.25s;
  transition: width 0.25s, left 0.25s;
}

.underline-transition {
  opacity: 1;
  height: 2px;
  width: 100%;
  background: black;
  left: 0;
}

.comment-input-container {
  position:relative;
  width: 100%;
}

.comment-submit {
  background: rgb(213, 233, 250);
  font-weight: 600;
  color: white;
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  transition-delay: 0.25s;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
}

.comment-revealed {
  background: rgb(46, 144, 230);
}

.comment-save {
  font-weight: 600;
  color: rgb(184,184,184);
}

.comment-save:hover {
  color: rgb(65,65,65);
}

.comment-save-revealed {
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  transition-delay: 0.25s;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  transition-property: color;
  color: rgb(112,112,112);
}

.comments-buttons {
  margin-top: 6px;
}

.comments-btn {
  padding: 10px 16px;
  border: none;
  border-radius: 2px;
  font-size: 14px;

}

.comment-cancel {
  color: rgb(112,112,112);
  font-weight: 500;
}

.comments-btn:hover {
  cursor: pointer;
}

.comment-cancel:hover {
  color: rgb(65,65,65);

}

.comment-item {
  margin-bottom: 16px;
}

.comment-username {
  font-size: 0.85rem;
  font-weight: 500;
  margin-right: 8px;
}

.comment-post-time {
  color: rgb(136,136,136);
  font-size: 0.85rem;
  font-weight: 400;
}

.comment-body {
  font-size: 0.90rem;
  font-weight: 400;
  margin-top: 10px;
}

.comment-username-line {
  display: flex;
}

.comment-menu {
  position: relative;
  display: flex;
  align-items: center;
  width: 40px;
}

.comment-info-and-menu {
  display: flex;
  width: 100%;
}

.comment-info {
  width: 100%;
}

.comment-menu-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-info-and-menu:hover i {
  display: block;
}

.comment-menu-button i {
  display: none;
  color: gray;
  font-size: 18px;
}

.comment-menu-button:hover i {
  color: black;
}

.comment-menu-options {
  position: absolute;
  width: 68px;
  height: 100px;
  background: white;
  box-shadow: 0 0.10em 0.1em #CCCCCC;
  border-left: 0.5px solid rgba(190, 190, 190, 0.9);
  top: 40px;
  z-index: 5;
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.comment-menu-option-btn:hover {
  cursor: pointer;
  font-size: 0.905rem;
}

.comment-menu-option-btn {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-scroll {
  overflow: hidden;
}

.reveal-menu {
  display: block;
}

.reveal-menu2 {
  display: block !important;
}
