.navbar {
  overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2020;
}

a {
  text-decoration: none;
  color: black;
}

.nav-list {
  display: flex;
  margin: 10px;
}

.nav-list li {
  margin: auto 0;
}

.side-bar-hamburger {
  display: flex;
}

.side-bar-hamburger i {
  font-size: 20px;
  margin-bottom: 2px;
  margin-left: 20px;
  margin-right: 20px;
  color: #a0a0a0;
}

.nav-logo img {
  max-width: 29px;
  margin-top: 3px;
}


.side-bar-hamburger i {
  cursor: pointer;
}



.nav-logo a {

}

.nav-logo-text span {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1px;
  font-family: "Roboto", sans-serif;
  display: flex;
}

.ut {
  letter-spacing: -4px;
}


.nav-search {
  flex: 1;
  display: flex;
}

@media (max-width: 600px) {
    .nav-logo, .side-bar-hamburger, .nav-upload, .nav-settings, .nav-sign-in, .nav-logo-text {
      display: none;
    }
}

.nav-search i {
  font-size: 14px;
  -webkit-text-stroke: .6px white;
  padding: 7px 25px 5px 25px;
  border: 1px solid #cccccc;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: #AAAAAA;
}

.nav-search i:hover {
  border: 1px solid #c6c6c6;
  color: black;
}


.nav-search input {
  max-width: 585px;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 100%;
  height: 23px;
  padding: 3px;
  padding: 4px;
  padding-left: 8px;
  font-size: 16px;
  font-weight: 200;
  border-right: none;
  margin-left: 40px;
}
.nav-search input:focus {
  border-right: 1px solid #1E77C6;
  border-color: #1E77C6;
  max-width: 584px;

}

.nav-upload {
  margin-left: 53px !important;
  margin-right: 35px !important;
}

.nav-upload i {
  font-size: 20px;
  color: #a0a0a0;
}

.nav-sign-in-link {
  font-family: "Roboto", sans-serif;
  color: #ff090d;
  font-size: 13px;
  font-weight: 600;
}

.nav-sign-out {
  font-family: "Roboto", sans-serif;
  color: #ff090d;
  font-size: 13px;
  font-weight: 600;
  border: none;
  background: none;
  cursor: pointer;
}
