.session {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: sans-serif;
  height: 100vh;
}

.session-container {
  display: flex;
  // justify-content: center;
  // align-items: center;
  width: 370px;
  height: 416px;
  // box-sizing: border-box;
  padding: 48px 40px 36px 40px;
  box-shadow: .02em 0.1em 0.3em 0.015em #999999;
}

.session-form {
  padding-top: 24px;
}

.session-logo {
  color: blue;
  width: 198px;
  height: 37px;
  font-size: 21px;
}

.session-errors {
  color: red;
  padding-top: 8px;
  font-size: 12px;
}

.session-welcome {
  padding-bottom: 24px;
  height: 71px;
}

.session-welcome-msg {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.333;
}

.session-under-welcome {
  font-size: 14px;
  line-height: 1.4286;

}

.session-input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-top: 24px;
  font-size: 14px;
  width: 370px;
}

.session-buttons {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.session-buttons button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 23px;
  padding-right: 23px;
  background: #4285f4;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  color: white;
  box-shadow: 0 1.5px 1px .5px #BBBBBB;
}

.b-1 {
  color: #3377ff;
}

.b-2 {
  color: #1a66ff;
}

.b-3 {
  color: #0055ff;
}

.b-4 {
  color: #004de6;
}

.b-5 {
  color: #0044cc;
}

.b-6 {
  color: #003cb3;
}

.b-7 {
  color: #003399;
}
