.video-show {
  font-family: 'Roboto', Arial, sans-serif;
}

.video-show-container {
  max-width: 1057px;
  margin: 26px auto 0 auto;
  display: flex;
}

@media (min-width: 1291px) {
  .video-show-container {
    max-width: 1270px;
  }
  .video-show-content {
    max-width: 1270px !important;
  }
  .video-show video {
    width: 857px;
    height: 515px;
  }
}

@media (max-width: 1000px) {
  .video-show-container {
    flex-direction: column;
    max-width: 857px;
  }
  .video-show video {
    width: 857px;
    height: 515px;
  }
  .related-vid-container {
    max-width: 857px;
  }
  .video-show-related-videos {
    margin-left: 0 !important;
  }

  .video-show-content {
    max-width: 857px !important;
  }

}

@media (max-width: 857px) {
  .video-show-container {
    // flex-direction: column;
    max-width: 640px;
  }
  .video-show video {
    width: 640px;
    height: 387px;
  }
  .related-vid-container {
    max-width: 640px;
  }

  .video-show-content {
    max-width: 640px !important;
  }

}


.video-show-content {
  max-width: 596px;
}


.video-show video {
  background: black;
  position: relative;
  border-bottom: 1px solid rgb(149,149,149);
}

.video-video-container {
  position: relative
}


.video-show-related-videos {
  margin-left: 24px;
  font-family: Roboto, Arial, sans-serif;
  width: 100%;
}

.related-vid-index-item {
  margin-bottom: 8px;
  width: 100%;
}

.related-vid-container {
  display: flex;
  cursor: pointer;
  width: 100%;
}

.related-vid-img {
  min-width: 168px;
  min-height: 92px;
  width: 168px !important;
  height: 92px !important;
  position: relative;
  background: black;
}

.related-vid-img img {
  max-width: 168px;
  margin: 0 auto;
  max-height: 92px;
  background-color: black;
}

.related-vid-duration {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  letter-spacing: .5px;
  font-size: 12px;
  font-weight: 500;

  padding: 2px 4px;
  margin: 4px;
  background: hsl(0, 0%, 6.7%);
  color: hsl(0, 0%, 100%);
  opacity: 0.8;
  border-radius: 2px;
}

.related-vid-info {
  margin-left: 8px;
  text-align: left;
}

.related-vid-title {
  display: block;
  margin: 0 0 4px 0;
  max-height: 3rem;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4rem;
  color: #111111;
}

.related-vid-channel {
  color: #707070;
  font-size: 14px;
  font-weight: lighter;
}

.related-vid-viewcount {
  color: #707070;
  font-size: 14px;
  font-weight: lighter;
}

.video-show-vid-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6rem;
  color: rgb(14,14,14);
  margin: 15px 0 13px 0;
}

.video-show-views-likes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.video-show-views-likes .views {
  color: rgb(93,93,93);
}


.video-show .likes-dislikes {
  display: flex;
  margin-right: 5px;
  color: rgb(143, 143, 143);
}

.likes-dislikes .likes {
  margin-right: 25px;
}

.likes-dislikes i {
  margin-right: 8px;
  cursor: pointer;
}

.likes-dislikes i:hover {
  color: rgb(50,50,50);
}

.channel-info .above-description {
  display: flex;
  justify-content: space-between;
}

.channel-info .profile-image {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  overflow: hidden;
  background: white;
  display: flex;
  justify-content: center;
  margin-right: 14px;
}

.channel-info .profile-image img {
  height: 48px;
}

.channel-name-vid-upload-date {
  margin: auto 0;
}

// channel-info

.channel-info .logo-side-flex {
  display: flex;
}

.channel-info .channel-name {
  color: black;
  font-weight: 600;
  font-size: 15px;
}

.channel-info .upload-date {
  color: rgb(105,105,105);
  font-size: 13px;
}

.subscribe {
  padding: 6px 15px;
  background: rgb(251, 0, 6);
  max-height: 38px;
  border: none;
  border-radius: 2px;
  margin-top: 5px;
  cursor: pointer;
}

.edit {
  color: white;
  padding: 0 15px;
  background: rgb(33, 126, 223);
  max-height: 36px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 2px;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.subscribe .sub {
  color: white;
}

.subscribe .subcount {
  color: rgb(254, 195, 198);
}

.comments {
  margin-top: 30px;
  text-align: center;
}

.channel-info {
  display: flex;
  flex-direction: column;
}

.channel-info .description {
  margin: 20px 0 0 63px;
}
