.video-show {

}

.video-show-container {
  width: 1057px;
  margin: 36px auto 0 auto;
  display: flex;
}

.video-show video {
  background: black;
}

.related-vid-index-item img {
  max-width: 168px;
  width: 100%;
  max-height: 92;
  background-color: black;
}

.video-show-related-videos {
  margin-left: 24px;
}
