.video-index {
  font-family: 'Roboto', Arial, sans-serif;
}

.index-index-item {
  margin: 0 0 8px 5px !important;
}

.video-index .index-index-item {
  margin: 0 0 8px 0;
  width: 210px;
}

.video-index .index-link {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.video-index-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1423px;
  min-width: 450px;
  width: 98%;
  margin: 0 auto;
}

.video-index-header {
  text-align: center;
  margin: 20px;
  font-size: 20px;
}

.index-img {
  min-width: 210px;
  min-height: 117px;
  width: 210px !important;
  height: 117px !important;
  position: relative;
  background: black;
}

.index-img img {
  max-width: 210px;
  margin: 0 auto;
  max-height: 117px;
  background-color: black;
}

.index-duration {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  letter-spacing: .5px;
  font-size: 12px;
  font-weight: 500;

  padding: 2px 4px;
  margin: 4px;
  background: hsl(0, 0%, 6.7%);
  color: hsl(0, 0%, 100%);
  opacity: 0.8;
  border-radius: 2px;
}

.index-info {
  margin-left: 8px;
  text-align: left;
}

.index-title {
  display: block;
  margin: 0 0 4px 0;
  max-height: 3rem;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4rem;
  color: #111111;
}

.index-channel {
  color: #707070;
  font-size: 14px;
  font-weight: 300;
}

.index-view-time {
  color: #707070;
  font-size: 14px;
  font-weight: 300;
  display: flex;
}

.before-target:before{
  content: '•';
  margin: 0 4px;
}

.video-search {
  font-family: 'Roboto', Arial, sans-serif;
}

.search-video-description {
  color: #707070;
  font-size: 14px;
  font-weight: lighter;
}

.search-index-item a {
  display: flex;
}

.search-index-item {
  margin-left: 24px;
  margin-bottom: 16px;
}

.search-thumbnail {
  max-width: 246;
  max-height: 147;
}

.search-info {
  margin-left: 16px;
}

.search-title {
  font-weight: 500;
  font-size: 18px;
}

.search-channel {
  padding-right: 8px;
}

.search-info-minus-desc {
  margin-bottom: 16px;
}

.video-filter button {
  font-family: 'Roboto', Arial, sans-serif;
  color: darkblue;
  margin-left: 4px;
  margin-right: 4px;
}

.video-filter button:last-child {
  margin-right: 0;
}

.video-filter button:hover {
  color: blue;
  cursor: pointer;
}

.video-and-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-filter .none {
  color: black !important;
}

.video-filter .none:hover {
  color: black !important;
}
