.video-show {

}

.video-show-container {
  width: 1057px;
  margin: 36px auto 0 auto;
  display: flex;
}

.video-show video {
  background: black;
}

.related-vid-index-item img {
  max-width: 168px;
  max-height: 92px;
  background-color: black;
}

.video-show-related-videos {
  margin-left: 24px;
}

.related-vid-container {
  width: 168px !important;
  height: 92px !important;
  position: relative;
  margin: 0 auto;
  background: black;
}

.related-vid-duration {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
}
